.full{
	background: #d3d3d3;
	font-family: arial;
}

.nav-inverse{
	background: #444;
	font-family: algerian;
	margin: 0%0.1%0%0%;
}

.nav-link {
	color: #000;
}
.nav-item dropdown{
	background: #999;
}
.upper{
	font-family: algerian;
	margin:%;
}
.text{
	margin:3%;
}
.mypic{
	margin:0%3%;
}
.line{
	margin: 0.5% 0.5%
}
.dok{
	margin: 3%;
}
.social{
	margin: 1%;
}
#mainheading{
	font-family: algerian;
}
.post{
	width: 12%;
	margin: 1%;

}
.srcollege{
	margin: 1%;
	width: 20%;
}
.jrcollege{
	margin: 1%;
	width: 18%;
}
